<div class="message-index">
    <div class="message-list">
        <div class="message-details">
          <div class="message-name">
            <%= message.user.name %>
          </div>
          <div class="message-created-at">
            <%= l message.created_at %>
          </div>
        </div>
        <div class="lower-message">
          <div class="message-content">
              <%= message.content %>
          </div>
          <%= image_tag message.image.variant(resize: '500x500'), class: 'message-image' if message.image.attached? %>
        </div>
    </div>
</div>