<div class="side-header">
  <div class="user-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="chat-post-btn">
    <a href="#">チャットを作成する</a>
  </div>
</div>
<div class="rooms">
  <ul class="rooms-index">
    <li class="rooms-list"><a>test room</a></li>
    <li class="rooms-list"><a>room2</a></li>
  </ul>
</div>